@{
  Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="id01" class="">

  <form class="modal-content animate" id="form" method="post">
    <div class="imgcontainer">
      <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">×</span>
    </div>

    <div class="container">
      <label for="email"><b>Email</b></label>
      <input type="text" placeholder="Enter Email" name="Email" required="">

    </div>

    <div class="container" style="background-color:#f1f1f1">
      <button type="submit" id="submit">Reset password</button>
      <a type="button" href="~/" class="cancelbtn">Cancel</a>
    </div>
  </form>
</div>
@section Scripts{
  <script src="~/Scripts/Services/loginService.js"></script>
  <script src="~/Scripts/Services/userTokensService.js"></script>
  <script type="text/javascript">
    tmx.page.startUp = function () {
      console.log("Starting up Login page...");
      $("#submit").on("click", tmx.page.handlers.onForgotPassword);
    }

    tmx.page.handlers.onForgotPassword = function (e) {
      e.preventDefault();
      console.log("submitting form...");
      var formData = $("#form").serialize();
      tmx.services.login.sendForgotPassword(formData, tmx.page.ajaxForgotPasswordSuccess, tmx.page.ajaxForgotPasswordError);
    }

    tmx.page.ajaxForgotPasswordSuccess = function (data, status, xhr) {
      alert("Login successful!");
    }

    tmx.page.ajaxForgotPasswordError = function (jqXHR, textStatus, errorThrown) {
      alert("Login failed!");
    }
  </script>
}