@{
  Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="id01" class="">

  <form class="modal-content animate" id="form" method="post">
    <div class="imgcontainer">
      <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">×</span>
    </div>

    <div class="container">
      <label for="uname"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="UserName" required="">

      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="Password" required="">

      <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label>
    </div>

    <div class="container" style="background-color:#f1f1f1">
      <button type="submit" id="submit">Login</button>
      <a type="button" href="~/" class="cancelbtn">Cancel</a>
      <span class="psw" href="~/ForgotPassword">Forgot <a href="#">password?</a></span>
    </div>
  </form>
</div>
@section Scripts{
  <script src="~/Scripts/Services/loginService.js"></script>
  <script src="~/Scripts/Services/userTokensService.js"></script>
  <script type="text/javascript">
    tmx.page.startUp = function () {
      console.log("Starting up Login page...");
      $("#submit").on("click", tmx.page.handlers.onSubmitForm);
    }

    tmx.page.handlers.onSubmitForm = function (e) {
      e.preventDefault();
      console.log("submitting form...");
      var loginData = $("#form").serialize();
      tmx.services.login.add(loginData, tmx.page.ajaxLoginSuccess, tmx.page.ajaxLoginError);
    }

    tmx.page.ajaxLoginSuccess = function (data, status, xhr) {
      alert("Login successful!");
    }

    tmx.page.ajaxLoginError = function (jqXHR, textStatus, errorThrown) {
      alert("Login failed!");
    }

    tmx.page.handlers.onForgotPassword = function () {

    }
  </script>
}