@{
  Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="id02" class="">

  <form class="modal-content animate" id="form" action="page_forms_components.html" method="post" onsubmit="return false;">
    <div class="imgcontainer">
      <span onclick="document.getElementById('id02').style.display='none'" class="close" title="Close Modal">×</span>
    </div>

    <div class="container">
      <label for="uname"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="UserName" required="">

      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="PasswordHash" required="">

      <label for="fname"><b>First Name</b></label>
      <input type="text" placeholder="First Name" name="FirstName" required="">

      <label for="lname"><b>Last Name</b></label>
      <input type="text" placeholder="Last Name" name="LastName" required="">

      <label for="email"><b>E-mail</b></label>
      <input type="text" placeholder="E-mail Address" name="Email" required="">

    </div>

    <div class="container" style="background-color:#f1f1f1">
      <button type="submit" id="submitButton">Submit</button>
      <a type="button" href="~/" class="cancelbtn">Cancel</a>
    </div>
  </form>
</div>
@section Scripts{
  <script src="~/Scripts/Services/registrationService.js"></script>
  <script src="~/Scripts/Services/userTokensService.js"></script>
  <script src="~/Scripts/Services/messagingService.js"></script>
  <script type="text/javascript">
    tmx.page.startUp = function () {
      console.log("Starting up Register page...");
      $("#submitButton").on("click", tmx.page.handlers.onSubmitForm);
    }

    var regData;

    tmx.page.handlers.onSubmitForm = function () {
      console.log("submitting form...");
      regData = $("#form").serialize();
      console.log(regData);
      tmx.services.registration.add(regData, tmx.page.ajaxRegisterSuccess, tmx.page.ajaxRegisterError);
    }

    tmx.page.ajaxRegisterSuccess = function (data, status, xhr) {
      console.log("Registration successful!");
      alert("A Confirmation Email has been sent to your mailbox. Please confirm your email to continue.");
    }

    tmx.page.ajaxRegisterError = function (xhr, status, errorThrown) {
      console.log("Registration failed!");
      var errors = xhr.responseJSON.Errors;
      var message = "The following errors occured: <br>"
      for (var i = 0; i < errors.length; i++) {
        message += errors[i] + "<br>";
      }
      alert(message);
    }
  </script>
}



